In [1]:
import pandas as pd
import numpy as np
import os
import csv

In [34]:
path19 = os.path.join('.', 'Resources', 'air quality 2019.csv')
path18 = os.path.join('.', 'Resources', 'air quality 2018.csv')
path17 = os.path.join('.', 'Resources', 'air quality 2017.csv')
path16 = os.path.join('.', 'Resources', 'air quality 2016.csv')
path15 = os.path.join('.', 'Resources', 'air quality 2015.csv')
path14 = os.path.join('.', 'Resources', 'air quality 2014.csv')
path13 = os.path.join('.', 'Resources', 'air quality 2013.csv')
path12 = os.path.join('.', 'Resources', 'air quality 2012.csv')
path11 = os.path.join('.', 'Resources', 'air quality 2011.csv')

In [35]:
file_19 = pd.read_csv(path19)
file_18 = pd.read_csv(path18)
file_17 = pd.read_csv(path17)
file_16 = pd.read_csv(path16)
file_15 = pd.read_csv(path15)
file_14 = pd.read_csv(path14)
file_13 = pd.read_csv(path13)
file_12 = pd.read_csv(path12)
file_11 = pd.read_csv(path11)

In [36]:
file_19 = file_19.fillna(0)
file_18 = file_18.fillna(0)
file_17 = file_17.fillna(0)
file_16 = file_16.fillna(0)
file_15 = file_15.fillna(0)
file_14 = file_14.fillna(0)
file_13 = file_13.fillna(0)
file_12 = file_12.fillna(0)
file_11 = file_11.fillna(0)

In [37]:
file19_df = file_19.loc[file_19["State"] == "California", :]
file18_df = file_18.loc[file_18["State"] == "California", :]
file17_df = file_17.loc[file_17["State"] == "California", :]
file16_df = file_16.loc[file_16["State"] == "California", :]
file15_df = file_15.loc[file_15["State"] == "California", :]
file14_df = file_14.loc[file_14["State"] == "California", :]
file13_df = file_13.loc[file_13["State"] == "California", :]
file12_df = file_12.loc[file_12["State"] == "California", :]
file11_df = file_11.loc[file_11["State"] == "California", :]

In [40]:
merge_df = pd.concat([file19_df,file18_df, file17_df, file16_df, file15_df, file14_df, file13_df, file12_df, file11_df], axis=0, ignore_index=True)
merge_df = merge_df.drop(["Days with AQI", "Good Days", "Moderate Days", "Unhealthy for Sensitive Groups Days", "Unhealthy Days", "Very Unhealthy Days", "Hazardous Days", "Max AQI", "90th Percentile AQI", "Median AQI", "Days CO", "Days SO2", "Days PM2.5", "Days PM10", "Days NO2"], axis=1)
merge_df

          State     County  Year  Days Ozone
0    California    Alameda  2019         175
1    California     Amador  2019         355
2    California      Butte  2019         231
3    California  Calaveras  2019         322
4    California     Colusa  2019         228
..          ...        ...   ...         ...
478  California    Trinity  2011           0
479  California     Tulare  2011         208
480  California   Tuolumne  2011         355
481  California    Ventura  2011         333
482  California       Yolo  2011         164

[483 rows x 4 columns]

In [42]:
# average days of Ozone per year per county
yearly_average = merge_df.groupby(["Year"]).mean()["Days Ozone"] 
yearly_average

Year
2011    197.425926
2012    219.462963
2013    193.796296
2014    207.444444
2015    214.685185
2016    221.277778
2017    213.792453
2018    203.188679
2019    244.603774
Name: Days Ozone, dtype: float64

In [44]:
yearly_summary = pd.DataFrame({
    "Year": yearly_average
})
yearly_summary

            Year
Year
2011  197.425926
2012  219.462963
2013  193.796296
2014  207.444444
2015  214.685185
2016  221.277778
2017  213.792453
2018  203.188679
2019  244.603774

In [47]:
yearly_summary.to_csv

<bound method NDFrame.to_csv of             Year
Year
2011  197.425926
2012  219.462963
2013  193.796296
2014  207.444444
2015  214.685185
2016  221.277778
2017  213.792453
2018  203.188679
2019  244.603774>