In [4]:
import pandas as pd
df = pd.read_csv("/Users/matthewberkley/Desktop/wine-project/all_wine_type_grapes_by_county.csv")
df2 = pd.read_csv("/Users/matthewberkley/Desktop/wine-project/cchange.csv")

In [5]:
df.head()

,County,2011_bearing,2011_non_bearing,2011_total,2012_bearing,2012_non_bearing,2012_total,2013_bearing,2013_non_bearing,2013_total,...,2016_total,2017_bearing,2017_non_bearing,2017_total,2018_bearing,2018_non_bearing,2018_total,2019_bearing,2019_non_bearing,2019_total
0,Alameda,"2,831",18,"2,849","2,811",49,"2,860","2,900",32,"2,931",...,"2,921","2,885",34,"2,920","2,892",23,"2,914","2,901",28,"2,928"
1,Amador,"3,088",276,"3,364","3,176",178,"3,354","3,325",307,"3,631",...,"3,641","3,570",98,"3,668","3,707",57,"3,764","3,569",66,"3,635"
2,Butte,166,8,174,156,33,189,165,26,192,...,169,168,5,173,167,6,174,114,6,120
3,Calaveras,663,12,675,666,17,683,700,12,713,...,696,667,20,686,676,19,695,712,10,721
4,Colusa,"1,577",0,"1,577","1,577",0,"1,577","1,573",0,"1,573",...,"1,496","1,496",0,"1,496","1,442",10,"1,452",692,347,"1,040"

In [18]:
df_clean = df.drop(["2011_non_bearing", "2011_total","2012_non_bearing", "2012_total","2013_non_bearing", "2013_total","2014_non_bearing", "2014_total","2015_non_bearing", "2015_total","2016_non_bearing", "2016_total","2017_non_bearing", "2017_total","2018_non_bearing", "2018_total","2019_non_bearing", "2019_total",], axis=1)

In [41]:
alameda = df_clean[:1].head()

In [42]:
alameda.head()

,County,2011_bearing,2012_bearing,2013_bearing,2014_bearing,2015_bearing,2016_bearing,2017_bearing,2018_bearing,2019_bearing
0,Alameda,"2,831","2,811","2,900","2,917","2,931","2,885","2,885","2,892","2,901"

0    True
1    True
2    True
3    True
4    True
Name: County, dtype: bool

In [8]:
df2.head()

      County  Change
0     Amador     0.8
1  El Dorado     0.8
2  Calaveras     0.9
3  Mendocino     1.0
4     Nevada     1.0

In [9]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)