In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
# read in csv's
white_wine = pd.read_csv("Resources/Varietals_CSV/White_Varietals.csv")
red_wine = pd.read_csv("Resources/Varietals_CSV/Red_Varietals.csv")

In [3]:
red_wine

,Varietal,Type,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aglianico,Red,7,4,9,2,9,2,5,0,0
1,Alicante Bouschet,Red,1,139,6,14,4,0,10,0,0
2,Barbera,Red,15,45,94,74,15,65,7,8,434
3,Cabernet Franc,Red,29,61,91,56,71,73,55,33,29
4,Cabernet Sauvignon,Red,1393,3832,4304,3404,3534,3224,1817,1784,970
5,Carignane,Red,3,301,9,8,0,1,2,12,0
6,Carmenere,Red,0,1,5,1,3,2,6,0,0
7,Carnelian,Red,0,0,0,0,0,0,0,0,0
8,Centurian,Red,0,0,0,0,0,0,0,0,0
9,Charbono,Red,1,0,0,0,2,0,0,0,1
10,Cinsaut,Red,1,2,2,1,4,4,1,3,11
11,Counoise,Red,4,0,2,0,1,1,1,6,0
12,Dolcetto,Red,1,0,1,0,0,0,0,0,0
13,Dornfelder,Red,19,0,0,0,2,0,0,0,1
14,Gamay,Red,0,36,1,0,0,0,0,0,1
15,Graciano,Red,22,0,0,2,4,4,0,2,0
16,Grenache,Red,95,205,91,87,110,68,115,61,37
17,Lagrein,Red,0,0,21,0,2,1,0,0,0
18,Malbec,Red,447,635,207,204,115,58,53,17,39
19,Merlot,Red,433,262,339,485,84,105,216,170,64
20,Meunier,Red,8,0,1,0,3,0,1,0,3
21,Mission,Red,0,0,0,0,1,0,0,50,2
22,Montepulciano,Red,0,2,13,17,5,1,3,0,0
23,Mourvedre,Red,38,25,25,31,20,23,48,26,22
24,Muscat Hamburg,Red,0,57,0,0,0,0,0,0,5
25,Nebbiolo,Red,1,0,2,2,4,2,1,0,1
26,Petit Verdot,Red,164,116,331,157,315,284,20,18,23
27,Petite Sirah,Red,505,357,778,917,678,676,357,177,35
28,Pinot Noir,Red,687,1000,1460,2056,1141,1056,1389,882,419
29,Pinotage,Red,0,0,0,0,0,0,1,0,0
30,Primitivo,Red,16,127,493,224,12,28,42,14,8
31,Royalty,Red,0,0,0,0,0,0,0,0,0
32,Rubired,Red,297,171,127,281,313,80,12,0,0
33,Ruby Cabernet,Red,0,121,0,82,77,0,0,0,0
34,Sangiovese,Red,32,21,7,14,11,7,4,6,7
35,Souzao,Red,0,7,2,1,0,0,0,0,1
36,Syrah,Red,45,101,152,221,42,117,114,72,46
37,Tannat,Red,9,156,30,37,4,58,1,10,2
38,Tempranillo,Red,16,16,66,22,36,34,12,6,6
39,Teroldego,Red,6,0,232,261,119,274,59,15,0
40,Touriga Nacional,Red,1,0,1,43,0,0,0,1,4
41,Zinfandel,Red,130,493,778,452,171,203,221,39,420
42,Other Red Wine,Red,41,202,168,45,98,26,52,26,41

In [4]:
white_wine

,Varietal,Type,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Albarino,White,19,2,5,18,10,35,72,3,57
1,Arneis,White,0,2,0,1,0,0,0,0,0
2,Burger,White,0,0,0,0,0,0,0,0,0
3,Catarratto,White,0,0,0,0,0,0,0,0,0
4,Chardonnay,White,1039,1183,1969,2212,949,1063,877,1122,955
5,Chenin Blanc,White,83,68,27,322,10,54,2,17,23
6,French Colombard,White,515,2006,905,304,5,35,5,0,114
7,Gewurztraminer,White,139,233,2,7,3,0,0,50,16
8,Grenache Blanc,White,13,12,30,54,21,7,14,1,259
9,Gruner Veltliner,White,9,4,2,0,0,17,0,1,1
10,Malvasia Bianca,White,84,1,4,0,0,2,0,0,0
11,Marsanne,White,0,3,4,5,1,1,5,0,1
12,Moscato Gaillo,White,0,150,0,0,0,0,0,0,0
13,Muscat Blanc,White,257,536,304,50,5,2,0,0,82
14,Muscat of Alexandria,White,996,527,247,2,0,1,0,0,0
15,Muscat Orange,White,24,73,8,3,0,11,0,0,0
16,Palomino,White,0,0,0,0,0,0,0,0,0
17,Picpoul Blanc,White,8,3,2,1,4,5,6,4,0
18,Pinot Blanc,White,7,3,0,0,45,3,0,0,6
19,Pinot Gris,White,45,188,727,1628,1295,600,666,448,25
20,Roussanne,White,7,5,4,10,5,4,1,0,1
21,Sauvignon Blanc,White,220,279,133,154,301,277,618,434,230
22,Sauvignon Musque,White,76,1,0,0,4,3,3,1,1
23,Sauvignon Vert,White,40,0,1,0,0,0,0,0,0
24,Semillon,White,12,2,4,4,1,5,8,6,2
25,St. Emilion,White,0,3,0,0,1,0,3,0,0
26,Symphony,White,230,0,0,0,0,8,0,0,0
27,Tocai Friulano,White,4,0,0,0,1,0,0,0,0
28,Triplett Blanc,White,0,0,4,0,0,0,0,0,0
29,Verdelho,White,5,16,3,35,0,2,0,0,0
30,Vermentino,White,6,13,13,22,7,4,1,9,6
31,Viognier,White,11,24,21,42,3,13,3,14,3
32,White Riesling,White,55,342,238,32,65,6,2,1,2
33,Other White Wine,White,112,12,48,17,23,14,41,11,94

In [5]:
red_wine.columns

Index(['Varietal', 'Type', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019'],
      dtype='object')

In [6]:
wine_varietal = pd.merge(red_wine, white_wine, on=['Varietal', 'Type', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019'], how='outer')
wine_varietal

,Varietal,Type,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aglianico,Red,7,4,9,2,9,2,5,0,0
1,Alicante Bouschet,Red,1,139,6,14,4,0,10,0,0
2,Barbera,Red,15,45,94,74,15,65,7,8,434
3,Cabernet Franc,Red,29,61,91,56,71,73,55,33,29
4,Cabernet Sauvignon,Red,1393,3832,4304,3404,3534,3224,1817,1784,970
...,...,...,...,...,...,...,...,...,...,...,...
72,Verdelho,White,5,16,3,35,0,2,0,0,0
73,Vermentino,White,6,13,13,22,7,4,1,9,6
74,Viognier,White,11,24,21,42,3,13,3,14,3
75,White Riesling,White,55,342,238,32,65,6,2,1,2
76,Other White Wine,White,112,12,48,17,23,14,41,11,94

In [7]:
zero_wines = wine_varietal[(wine_varietal['2011'] == 0) & (wine_varietal['2012'] == 0) 
                           & (wine_varietal['2013'] == 0) & (wine_varietal['2014'] == 0)  
                           & (wine_varietal['2015'] == 0) & (wine_varietal['2016'] == 0) 
                           & (wine_varietal['2017'] == 0) & (wine_varietal['2018'] == 0) 
                           & (wine_varietal['2019'] == 0)]

zero_wines

      Varietal   Type  2011  2012  2013  2014  2015  2016  2017  2018  2019
7    Carnelian    Red     0     0     0     0     0     0     0     0     0
8    Centurian    Red     0     0     0     0     0     0     0     0     0
31     Royalty    Red     0     0     0     0     0     0     0     0     0
45      Burger  White     0     0     0     0     0     0     0     0     0
46  Catarratto  White     0     0     0     0     0     0     0     0     0
59    Palomino  White     0     0     0     0     0     0     0     0     0

In [8]:
wine_varietal = wine_varietal.drop([7,8,31, 45, 46, 59]) 
wine_varietal

,Varietal,Type,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Aglianico,Red,7,4,9,2,9,2,5,0,0
1,Alicante Bouschet,Red,1,139,6,14,4,0,10,0,0
2,Barbera,Red,15,45,94,74,15,65,7,8,434
3,Cabernet Franc,Red,29,61,91,56,71,73,55,33,29
4,Cabernet Sauvignon,Red,1393,3832,4304,3404,3534,3224,1817,1784,970
...,...,...,...,...,...,...,...,...,...,...,...
72,Verdelho,White,5,16,3,35,0,2,0,0,0
73,Vermentino,White,6,13,13,22,7,4,1,9,6
74,Viognier,White,11,24,21,42,3,13,3,14,3
75,White Riesling,White,55,342,238,32,65,6,2,1,2
76,Other White Wine,White,112,12,48,17,23,14,41,11,94

In [9]:
wine_varietal.dtypes

Varietal    object
Type        object
2011         int64
2012         int64
2013         int64
2014         int64
2015         int64
2016         int64
2017         int64
2018         int64
2019         int64
dtype: object

In [10]:
wine_varietal.columns

Index(['Varietal', 'Type', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '2019'],
      dtype='object')

In [11]:
engine = create_engine(f"postgresql://postgres:6472@localhost:5432/Final_Project")

engine.table_names()

['wine11_20']

In [12]:
wine_varietal.to_sql(name='wine_varietals', con=engine, if_exists='append', index=False)